* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoLightItalic/roboto-v18-latin-300italic.woff2')format('woff2'), 
         url('../fonts/RobotoLightItalic/roboto-v18-latin-300italic.woff')format('woff'), 
         url('../fonts/RobotoLightItalic/roboto-v18-latin-300italic.ttf')format('truetype');
    font-style: italic;
    font-weight: 300;     
  }

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/roboto-v18-latin-regular.woff2')format('woff2'), 
         url('../fonts/Roboto/roboto-v18-latin-regular.woff')format('woff'),
         url('../fonts/Roboto/roboto-v18-latin-regular.ttf')format('truetype');
         font-style: normal;
         font-weight: 400;
  }
    
@font-face {
    font-family: 'Montserrat';
    src:url('../fonts/MontserratBold/montserrat-v12-latin-700.woff2')format('woff2'),
        url('../fonts/MontserratBold/montserrat-v12-latin-700.woff')format('woff'),
        url('../fonts/MontserratBold/montserrat-v12-latin-700.ttf')format('truetype');
    font-style: normal;
    font-weight: 700;
  }

@font-face {
    font-family: 'Montserrat';
    src:url('../fonts/Montserra/montserrat-v12-latin-regular.woff2')format('woff2'),
         url('../fonts/Montserra/montserrat-v12-latin-regular.woff')format('woff'), 
         url('../fonts/Montserra/montserrat-v12-latin-regular.ttf')format('truetype');
    font-style: normal;
    font-weight: 400;
  }

@font-face {
    font-family: 'Kaushan Script';
    src: url('../fonts/Kaushan/kaushan-script-v6-latin-regular.woff2')format('woff2'),
         url('../fonts/Kaushan/kaushan-script-v6-latin-regular.woff')format('woff'),
         url('../fonts/Kaushan/kaushan-script-v6-latin-regular.ttf')format('truetype');
    font-style: normal;
    font-weight: 400;
         
  }
        
    
    .wrapper {    
        background: #fff;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .container {
        width: 1200px;
        margin: 0px auto;
        
    }

    .header {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        text-transform: uppercase;
        font-size: 30px;
        line-height: 32px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        color: #95e1d3;
    }


    a {
        text-decoration: none;
        flex-basis: 30%;
    }

    ul {
       list-style: none;
      
      
    }

    .menu {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        width: 491px;
        height: 27px;
        margin-bottom: 128px;
        
       }

    .menu-item {
        text-decoration: none;
    }

    .menu-link {
        font-family:'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #95e1d3;
        text-transform: uppercase;
    }

  

    .menu-link:hover {
        border-bottom: 3px solid; 
        padding-bottom: 12px; 
        color:  #F38181;

    }
    .service-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
       
    }

    .par {
        color: #999999;	
        font-family: 'Roboto', sans-serif;	
        font-size: 15px;	
        line-height: 24px;
        text-align: justify;
    }

    
    .services-list-item {
        flex-basis: 30%;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 95px;
    }

   .info {
      flex-basis: 75%;  
    }

    .item-title {
        font-size: 14px;
        line-height: 17px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        color: #333333;
        text-transform: uppercase;
        margin-bottom: 18px;
    }

   
    .title {
        color: #333333;	
        font-family:'Kaushan Script', sans-serif;font-size: 24px;	
        line-height: 29px;	
        text-align: center;
        font-weight: 400;
        margin-bottom: 22px;
    
    }

    .title::first-letter {
        font-size: 40px;
    }

    .subtitle {
        color: #333333;	
        font-family:'Montserrat', sans-serif;	
        font-size: 30px;	
        font-weight: bold;	
        line-height: 36px;	
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 100px;
    }

    .subtitle:after {
        content: '';
        height: 3px;	
        width: 60px;	
        background-color: #F38181;
        display: block;
        margin: 42px auto 0;
    }

    .team-list {
        display: flex;
        justify-content: space-between;
    }
    
    .team-item {
        flex-basis: 30%;
        position: relative;
        transition: 1s; 
    }

    .team-title {
        padding: 0 110px 0 110px;
    }

  
     .text {
        color: #999999;
        font-family:'Roboto', sans-serif;	
        font-size: 15px;	
        line-height: 24px;	
        text-align: center;
        font-weight: normal;
        justify-content: center;
        margin-bottom: 90px;
    }

    .item-name {
        color: #333333;	
        font-family:'Montserrat', sans-serif;	
        font-size: 14px;	
        line-height: 17px;	
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 15px;
        font-weight: normal;
    }

    .item-occupation {
        color: #999999;	
        font-family: 'Roboto', sans-serif;	
        font-size: 15px;	
        font-style: italic;	
        font-weight: 300;	
        line-height: 24px;	
        text-align: center;
        text-transform: capitalize;
    }

    .icon-container {
        position: absolute;
        top: 0;
        left: 0;
        height: 470px;	
        width: 100%;
        background: linear-gradient(180deg, rgba(243,129,129,.9) 0%,rgba(252, 227, 138,.9) 100%);
        transition: 1s;
        display: none;
        
    }

    .team-member {
        transition: 1s;
        margin-bottom: 31px;
    }

    .team-item:hover > .icon-container { 
        transform: translate(-10px, -10px);

    }

    .team-item:hover > .team-member {
        transform: translate(-10px, -10px);
        box-shadow: 15px 15px 0 0px #95e1d3;
    }

    .boxes {
        display: flex;
        width: 224px;
       position: absolute;
       left: 50%;
       top: 50%;
       transform: translate(-50%, -50%); 
    }

    .box {
        padding-top: 15px;
        width: 56px;
        height: 56px;
        border-right: 1px solid;
        color:  #F38181;
        background: #FCE38A;
        text-align: center;
    }

    .box:hover {
        background-color: #95E1D3
    }

    .box:last-child {
        border-right: none;
    }

    .team-item:hover>.icon-container {
        display: block;
    }

    .footer {
        margin: auto;
    }

    .subscribe {
        display: flex;
        justify-content: space-between;

    }


    .input {
        width: 230px;
        height: 40px;
        padding: 10px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-style: italic;
        font-size: 15px;
        line-height: 24px;
        text-align: justify;
        text-transform: capitalize;
        border: 1px solid #E5E5E5;
        border-right: none;
        margin-right: 0px;
        

    }

    .input::placeholder {
        color: #CCCCCC;	
       
    }

    .submit {
        width: 150px;
        height: 40px;
        background-color: #95E1D3;
        color: #FFFFFF;	
        font-family:'Montserrat', sans-serif;	
        font-size: 14px;	
        font-weight: bold;	
        line-height: 17px;
        text-transform: uppercase;	
        text-align: center;
        border: none;
    }

    .footer::before {
        content: '';
        height: 1px;	
        width: 1200px;	
        background-color: #E5E5E5;
        display: block;
        margin: 82px auto 24px;
    }

    .copyright {
        color: #333333;	
        font-family: 'Montserrat', sans-serif;	
        font-size: 14px;	
        line-height: 17px;	
        text-align: center;
        font-weight: normal;
    }

    .colortext {
        color: #F38181;
    
    }




