
  body {
  font-family: "Roboto", sans-serif;
  background: #fff;
}
.container {
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
img{
  display: block;
  width: 300px;
}
.post{
  flex-basis: 30%;
  margin-left: 20px;
  box-shadow: 10px 5px 5px rgb(63, 62, 62);
  background-color: lemonchiffon;
  border: 1px solid black;
  border-radius: 8px;
  box-sizing: border-box;
}
.mdc-btn {
  min-width: 88px;
  margin-top: 10px;
  height: 36px;
  padding: 0 16px;
  border: 0;
  outline: 0;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #790039;
  cursor: pointer;
}

.name, .photo, .descr, .color, .price, .release_date{
    padding: 10px;
}
