* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
        font-family: 'Playfair Display','Ubuntu', sans-serif;
        color: #626262;
        font-size: 14px;
        line-height: 17px;
    }

.wrapper {
    background-color: #ffffff;
    padding-bottom: 71px;
    padding-top: 75px;
}

.container {
    width: 901px;  
    margin: auto;
}

.site-navigation {
    text-align: center;
}


.menu {
    display: inline-block;
    font-size: 14px;
    list-style: none;
    margin-right: 120px;
}

.fx{
    text-align: center;
    display: block;
    color: #626262;
    text-transform: uppercase;
    text-decoration: none;
}

.site-navigation a:hover {
    color: #03a9f4;
}  

.page-header {
    margin-bottom: 104px;
} 

.rows {
    margin-bottom: 52px;
}

.row-list {
    margin-right: 57px;
    margin-bottom: 133px;
    width: 420px;
    display: inline-block;
    vertical-align: top;
}

.row-list:nth-child(2n+2) {
    margin-right: 0px;
}

.row-list:nth-last-child(-n+2) {
    margin-bottom: 0px;
}

.title2 {
    list-style: none;
    color: #626262;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 41px;
}

.row-title {
    color: #b4ad9e;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    margin-bottom: 28px;
}

.row-list-img {
    width: 418px;
    height: 280px;
    margin-bottom: 31px;
}

button {
       display: block;
        width: 165px;
        height: 60px;
        font-size: 20px;
        line-height: 24px;
        margin: auto;
    }
    
          