* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

    .wrapper {
        font-family:'Roboto', sans-serif;
        background: #fff;
        width: 1200px;
        padding-top: 20px;
    }

    /* .container {
        width: 1110px;
        margin: 0px auto;
    }
*/
    .box1 {
        width: 30%
    }

    .box2 {
        width: 45%;
    }

    .title {
    margin: auto;
    }